<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ログインページ</h1>
    <% if (error) { %>
        <div class="error-message"><%= error %></div>
      <% } %>
    <form action="/auth/login" method="post" >
        <label for="id">id</label>
        <input type="text" name="id" id="id" autocomplete="username">
        <br/>
        <label for="password">password</label>
        <input type="password" name="password" id="password" autocomplete="current-password">
        <br/>
        <button type="submit">ログイン</button>
        <a href="/auth/signup">新規登録</a>
    </form>
</body>
</html>