<%- contentFor('title') %>ログイン

<%- contentFor('body') %>
<h1>ログインページ</h1>
<% if (typeof error !== 'undefined' && error) { %>
  <p class="error"><%= error %></p>
<% } %>
<form action="/auth/login" method="post">
  <label for="id">id</label>
  <input type="text" name="id" id="id" autocomplete="username">
  <br/>
  <label for="password">password</label>
  <input type="password" name="password" id="password" autocomplete="current-password">
  <br/>
  <button type="submit">ログイン</button>
  <a href="/auth/signup">新規登録</a>
</form>