<%- contentFor('title') %>サインアップ

<%- contentFor('body') %>
    <h1>ユーザー登録</h1>

    <form action="signup" method="post">
        <% if (idError) { %>
        <div class="error-message"><%= idError %></div>
        <% } %>
        <label for="id">id</label>
        <input type="text" name="id" id="id">
        <br/>
        <label for="name">name</label>
        <input type="text" name="name" id="name">
        <br/>
        <% if (passwordError) { %>
            <div class="error-message"><%= passwordError %></div>
        <% } %>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <br/>
        <label for="confirmPassword">パスワード確認:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" ><br>
        <button type="submit">登録</button>
    </form>
