<%- contentFor('title') %><%= title %>

<%- contentFor('body') %>
<h3 class="hedding mx-auto mt-4"><%= title %></h3>
<div class="field-block error-block mx-auto">
    <p>予期せぬエラーが発生しました。</p>
    <a href="/task">トップページへ戻る</a>
</div>
