<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title !== 'undefined' ? title : 'デフォルトタイトル' %></title>
</head>
<body>
    <% if (user) { %>
        <header>
        <a href="/task/new">タスク追加</a>
        <a href="/auth/logout">ログアウト</a>
        </header>
    <% } %>

    <main>
    <%- body %> <!-- 動的にコンテンツが挿入される部分 -->
    </main>

    <footer>
    <p>共通フッター</p>
    </footer>
</body>
</html>
